name: ROS2 CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble
      - uses: ros-tooling/action-ros-ci@v0.4
        with:
          target-ros2-distro: humble
          package-name: |
            offboard_tasks
            slam_playground
          colcon-defaults: |
            {
              "build": { "cmake-args": ["-DCMAKE_BUILD_TYPE=RelWithDebInfo"] }
            }
